
a {
    /* color: rgba(0, 0, 0, 0.87) !important; */
    color: #000000 !important;
}

th{
    color: #4CAF50 !important;
    font-weight: 400 !important;
}




.assign_dealers table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .assign_dealerstd,
  .assign_dealers th,
  .assign_dealers td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
  
  /* .assign_dealers tr:nth-child(even) {
    background-color: #dddddd;
  } */
  
  .assign_dealers tr {
    /* background-color: #dddddd; */
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }
  
  .assign_dealers th, .assign_dealers td {
    /* padding: 8px; */
  }
  
  .MuiPopover-paper{
    width: 260px !important;
  }
  